<div class="login-status-header">

     @if(!isAuthenticated){
        <div class="login-status-guest-info">
            Welcome Guest!
        </div>
    }
    @if(isAuthenticated) {
        <div class="login-status-user-info">
            Welcome, {{ userEmail }}!
        </div>
    }
    
    @if(!isAuthenticated){
        <button (click)="login()" class="security-btn">Login</button>
    } 

    @if(isAuthenticated) {
        <button (click)="logout()" class="security-btn">Logout</button>

        <button  routerLink="/members" class="security-btn ml-1">Member</button>

        <button routerLink="/order-history" class="security-btn ms-1">Orders</button>
    }
</div>
