<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- formulaire pour le customer -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer Details</h3>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="firstName" formControlName="firstName">
                                <!-- quand le champ a ete modifié, on dit qu'il est dirty
                                    quand le champ perd le focus, on dit qu'il est touched
                                    le firstname est en fait l'appel au getter dans le composant -->
                                @if(firstName?.invalid && (firstName?.touched || firstName?.dirty)){
                                @if(firstName?.errors?.required || firstName?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    First Name is required.
                                </div>
                                }
                                @if(firstName?.errors?.minlength){
                                <div class="alert alert-danger">
                                    First Name must be at least 2 characters long.
                                </div>
                                }
                                }
                                <!-- <div *ngIf="firstName?.invalid && (firstName?.touched || firstName?.dirty)" class="alert alert-danger">
                                    <div *ngIf="firstName?.errors?.['required']">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        First Name must be at least 2 characters long.
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="lastName" formControlName="lastName">
                                @if(firstName?.invalid && (lastName?.touched || lastName?.dirty)){
                                @if(lastName?.errors?.required || lastName?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Last Name is required.
                                </div>
                                }
                                @if(lastName?.errors?.minlength){
                                <div class="alert alert-danger">
                                    Last Name must be at least 2 characters long.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="email" formControlName="email">
                                @if(email?.invalid && (email?.touched || email?.dirty)){
                                @if(email?.errors?.['required']){
                                <div class="alert alert-danger">
                                    Email is required
                                </div>
                                }
                                @if(email?.errors?.['pattern']){
                                <div class="alert alert-danger">
                                    Email must be a valid email address
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- adresse expedition -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}
                                    </option>
                                </select>
                                @if(shippingCountry?.invalid && (shippingCountry?.touched || shippingCountry?.dirty)){
                                @if(shippingCountry?.errors?.required){
                                <div class="alert alert-danger">
                                    Shipping country is required.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="street" formControlName="street">
                                @if(shippingStreet?.invalid && (shippingStreet?.touched || shippingStreet?.dirty)){
                                @if(shippingStreet?.errors?.required || shippingStreet?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Shipping street is required.
                                </div>
                                }
                                @if(shippingStreet?.errors?.minlength){
                                <div class="alert alert-danger">
                                    Shipping street must be at least 2 characters long.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="city" formControlName="city">
                                @if(shippingCity?.invalid && (shippingCity?.touched || shippingCity?.dirty)){
                                @if(shippingCity?.errors?.required || shippingCity?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Shipping city is required.
                                </div>
                                }
                                @if(shippingCity?.errors?.minlength){
                                <div class="alert alert-danger">
                                    Shipping city must be at least 2 characters long.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">{{state.name}}
                                    </option>
                                </select>
                                @if(shippingState?.invalid && (shippingState?.touched || shippingState?.dirty)){
                                @if(shippingState?.errors?.required || shippingState?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Shipping state is required.
                                </div>
                                }
                                @if(shippingState?.errors?.minlength){
                                <div class="alert alert-danger">
                                    Shipping state must be at least 2 characters long.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Zipcode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="zipCode" formControlName="zipCode">
                                @if(shippingZipCode?.invalid && (shippingZipCode?.touched || shippingZipCode?.dirty)){
                                @if(shippingZipCode?.errors?.required || shippingZipCode?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Shipping zipCode is required.
                                </div>
                                }
                                @if(shippingZipCode?.errors?.minlength){
                                <div class="alert alert-danger">
                                    Shipping zipCode must be at least 2 characters long.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- add checkbox to copy shipping adresse to billing-->
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="copyShippingAddress"
                        (change)="copyShippingAddressToBillingAddress($event)">
                    <label class="form-check-label" for="copyShippingAddress">
                        Billing address same as shipping address
                    </label>
                </div>
                <!-- adresse expedition -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}
                                    </option>
                                </select>
                                @if(billingCountry?.invalid && (billingCountry?.touched || billingCountry?.dirty)){
                                @if(billingCountry?.errors?.required){
                                <div class="alert alert-danger">
                                    Billing country is required.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="street" formControlName="street">
                                @if(billingStreet?.invalid && (billingStreet?.touched || billingStreet?.dirty)){
                                @if(billingStreet?.errors?.required || billingStreet?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Billing street is required.
                                </div>
                                }
                                @if(billingStreet?.errors?.minlength){
                                <div class="alert alert-danger">
                                    Billing street must be at least 2 characters long.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="city" formControlName="city">
                                @if(billingCity?.invalid && (billingCity?.touched || billingCity?.dirty)){
                                @if(billingCity?.errors?.required || billingCity?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Billing city is required.
                                </div>
                                }
                                @if(billingCity?.errors?.minlength){
                                <div class="alert alert-danger">
                                    Billing city must be at least 2 characters long.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">{{state.name}}
                                    </option>
                                </select>
                                @if(billingState?.invalid && (billingState?.touched || billingState?.dirty)){
                                @if(billingState?.errors?.required){
                                <div class="alert alert-danger">
                                    Billing state is required.
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Zipcode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="zipCode" formControlName="zipCode">
                                @if(billingZipCode?.invalid && (billingZipCode?.touched || billingZipCode?.dirty)){
                                    @if(billingZipCode?.errors?.required || billingZipCode?.errors?.notOnlyWhitespace){
                                    <div class="alert alert-danger">
                                        Billing zipCode is required.
                                    </div>
                                    }
                                    @if(billingZipCode?.errors?.minlength){
                                    <div class="alert alert-danger">
                                        Billing zipCode must be at least 2 characters long.
                                    </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- carte de credit -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Card Type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option value="Visa">Visa</option>
                                    <option value="Mastercard">Mastercard</option>
                                     @if(cardType?.errors?.required || cardType?.errors?.notOnlyWhitespace){
                                <div class="alert alert-danger">
                                    Card type is required.
                                </div>
                                }
                                </select>                             
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Name on card</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="nameOnCard" formControlName="nameOnCard">
                                 @if(nameOnCard?.invalid && (nameOnCard?.touched || nameOnCard?.dirty)){
                                    @if(nameOnCard?.errors?.required || nameOnCard?.errors?.notOnlyWhitespace){
                                    <div class="alert alert-danger">
                                        Name on card is required.
                                    </div>
                                    }
                                    @if(nameOnCard?.errors?.minlength){
                                    <div class="alert alert-danger">
                                        Name on card must be at least 2 characters long.
                                    </div>
                                    }
                                }
                            </div>         
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Card number</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="cardNumber" formControlName="cardNumber">
                                @if(cardNumber?.invalid && (cardNumber?.touched || cardNumber?.dirty)){
                                @if(cardNumber?.errors?.required || cardNumber?.errors?.notOnlyWhitespace){
                                    <div class="alert alert-danger">
                                        Card number is required.
                                    </div>
                                    }
                                    @if(cardNumber?.errors?.pattern){
                                        <div class="alert alert-danger">
                                            Card number must be 16 numbers long.
                                        </div>
                                    }   
                                }
                            </div>                     
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Security Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" id="securityCode" formControlName="securityCode">
                                 @if(securityCode?.invalid && (securityCode?.touched || securityCode?.dirty)){
                                 @if(securityCode?.errors?.required || securityCode?.errors?.notOnlyWhitespace){
                                    <div class="alert alert-danger">
                                        Security code is required.
                                    </div>
                                }
                                @if(securityCode?.errors?.pattern){
                                    <div class="alert alert-danger">
                                        Security code must be 3 numbers long.
                                    </div>
                                }
                            }
                            </div>                           
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Expiration Month</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of createCreditCardMonths">{{month}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <label for="lastName">Last Name</label> -->
                        <div class="col-md-2">
                            <label>Expiration Year</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of createCreditCardYears">{{year}}</option>
                                </select>
                            </div>                          
                        </div>
                    </div>
                </div>
                <!-- order details -->
                <div class="form-area">
                    <h3>Order Summary</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Total Quantity:</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <span>{{totalQuantity}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label>Shipping : FREE</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Total Price:</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <span>{{totalPrice | currency:'USD'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- bouton submit-->
                <div class="text-center">
                    <button class="btn btn-primary btn-lg mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>